<!DOCTYPE html>
<html>

<head>
<style>
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

#properties{
              border:2px solid #009900;
              float:left;
              top: 20px;
              height:400px;
              width:33%;
              clear:left;
}

#delete_keywords{
           border: 2px solid #0000FF;
           width:33%;
           height:400px;
           float:right;
           overflow-y:scroll; 
}
#add_keywords{
           border: 2px solid #0000FF;
           width:33%;
           height:400px;
           float:right;
           overflow-y:scroll;
}
#submit{
        width:100%;  
        text-align:right;
        margin-bottom:10px;
        margin-top:10px; 
        clear:both}

</style>
</head>


<body>

<h1><center> Edit: <%= @view.name%> </center></h1>
<%= link_to 'Index of Views', admin_collection_views_path %>
<br><br>

<%= form_for @view, url: admin_collection_view_path(@view), method: :patch  do |f| %>

 
     <div id="submit">
       <%= f.submit "Edit view"%>
     </div>
 
     <div id="delete_keywords">
        <h3><center>Seleccionar keywords para BORRAR:</center></h4>
       <br><br>
      
         <% if @tags.empty? %>  <center>No hay keywords en esta vista</center>
         <% else %> 
	   
              <% @tags.each do |tag| %>
	         <ul>
		 <%= check_box_tag 'delete_tags_ids[]', tag.id -%>
		 <%= tag.keyword %>
		 </ul>  
		 <br>
              <% end %>
	  
       <% end %>
   
     </div>
   
     <div id="properties">
       <br>
       <%= f.label :name  %>
        <%= f.text_field :name %>
	<br><br>
	
	<%= f.label :view_type  %>
        <%= f.text_field :view_type %>
	<br>
	<% @TYPES.each do |type| %>
	  <%= radio_button_tag 'view_type', type %>
	  <%=type %>
	  <br>
	<% end %>
     </div>
   
     <div id="add_keywords">
       <h3><center>Seleccionar keywords para ANADIR</center></h3> 
       
       <% if @available_tags.empty? %> No keywords known
       
       <% else %>
      
          
          <% @available_tags.each do |tag| %>
	      <ul>
		<%= check_box_tag 'add_tags_ids[]', tag.id -%>
		<%= tag.keyword -%>
	      </ul>
	      <% end %> 
         
	 <% end %>
     </div>
     
<% end %>

</body>
</html>
