<body>

<%= link_to 'Vuelta a Admin', admin_root_path %>
<br>
<h1><center>Indice de Vistas</center></h1>

<br>

<table>
<% @views.each do |view| %>
<tr>
    
    <td><%=view.name%></td>
    <td></td><td></td>
    <td><%= link_to 'Mostrar', admin_collection_view_path(view) %></td>
    <td><%= link_to 'Editar', edit_admin_collection_view_path(view)%></td>
    <td><%= link_to 'Destruir', admin_collection_view_path(view),
              method: :delete,
              data: { confirm: 'Estas seguro?' } %></td>
</tr>
    <%end%>
</table>

</body>
