<%= link_to 'Back to Home', welcome_index_path %>
<br>
<h1><center>Index of Views</center></h1>

<br>

<table>
<% @views.each do |view| %>
<tr>
    
    <td><%=view.name%></td>
    <td></td><td></td>
    <td><%= link_to 'Show', admin_collection_view_path(view) %></td>
    <td><%= link_to 'Edit', edit_admin_collection_view_path(view)%></td>
    <td><%= link_to 'Destroy', admin_collection_view_path(view),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
    <%end%>
</table>
