<body>

<%= link_to 'Vuelta a Admin', admin_root_path %>
<%= form_for :collection_view, url: admin_collection_views_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit "Crear vista" %>
  </p>
<% end %>

</body>
