<body>

<%= link_to 'Vuelta a Admin', admin_root_path %>
<%= form_for :collection_view, url: admin_collection_views_path, method: "POST" do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label "Tipo de vista"  %>
    <br>
    <% @TYPES.each do |type| %>
    <%= f.radio_button :view_type, type %>
    <%= f.label :view_type, type, :value => type %>
    <br>
    <% end %>
  </p>
  <p>
    <%= f.submit "Crear vista" %>
  </p>
<% end %>

</body>
