<head> 
<style>

<!-- commented css for slideshow (jplugin cycle)
<style type "text/css">
.route {  
    height:  232px;  
    width:   232px;  
    padding: 0;  
    margin:  0;  
} 
 
.route img {  
    padding: 15px;  
    border:  1px solid #ccc;  
    background-color: #eee;  
    width:  200px; 
    height: 200px; 
    top:  0; 
    left: 0 
}
!-->

.picture{
          border:  2px solid #000000;
          width:   200px; 
          height:  200px;
         
}

.picture img{
             float: left;
             border:  2px solid #000000;
             width:   200px;
             heigth:  200px;
             margin:  1px;
}

</style>
</head>

<body>

<h1><center> Fotos en vista "<%= @this_view.name %>"</center></h1> <br>
<h4><%= link_to 'Vuelta Indice Vistas', admin_collection_views_path %></h4>

<% if @photos.empty?%> 
  <h2><center> No hay fotos en esta vista todavia</center><h2>

<% else %>
  <%@photos.each do |photo|%>
 
    <!-- Make the div clickable (link_to accepts blocks)!-->
    <%= link_to edit_admin_collection_photo_path(photo) do  %>
       <div class="picture">
    
       <img src="<%=photo.path_to_image%>"/>
    
       </div>
    <% end %>

  <% end %>

<% end %>

<!-- Slideshow with cycle

<div align="center">
<div class="nav"><a id="prev" href="#">Prev</a> <a id="next" href="#">Next</a></div>
<div class="route"> 
  <%@photos.each do |slide|%>
  <img src="/sample/<%=slide.name%>" height="200" width="200">
  <%end%> 
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.route').cycle({
       fx:     'scrollHorz',
       prev:   '#prev',
       next:   '#next',
       timeout: 0,
       rev: true
    });
  });
</script>

</div>
!-->

</body>
