<head>
<style>
#photo{
              border:2px solid #009900;
              float:left;
              top: 20px;
              height:400px;
              width:33%;
              clear:left
}

#photo img {
   height: 100%;
   width: 100%;
}

#delete_tags{
           border: 2px solid #0000FF;
           width:33%;
           height:400px;
           float:right;
           overflow-y:scroll; 
}
#add_tags{
           border: 2px solid #0000FF;
           width:33%;
           height:400px;
           float:right;
           overflow-y:scroll;
}
#submit{
        width:100%;  
        text-align:right;
        margin-bottom:10px;
        margin-top:10px; 
        clear:both}
 
</style>
</head>


<body>

<h1><center> Editar Foto <%= @photo.name%> </center></h1>
<%= link_to 'Vuelta a Indice', admin_collection_photos_path %>
<br><br>

<%= form_for @photo, url: {action: "update"}, method: "PUT" do |f| %>

     <div id="submit">
       <%= f.submit "Actualizar foto"  %>
     </div>

     <div id="delete_tags">
        <h4><center> Selecciona keywords para BORRAR:</center></h4>
      
         <% if !@photo.keywords.any? %>  No tags
         <% else %> 
	    
              <% @photo.keywords.each do |keyword| %>
	         
	         <ul>
		 <%= check_box_tag 'keywords_to_delete[]', keyword.name -%>
		 <%= keyword.name %>
		 </ul>  

              <% end %>

         <% end %>
   
     </div>
   
     <div id="photo">
       
       <img src="<%=@photo.path_to_image%>"%>
       <br><br>
        <%= f.label "Nombre:"  %>
        <%= f.text_field :name %>

     </div>
   
     <div id="delete_tags">

       <h4><center> Selecciona keywords para ANADIR:</center></h4> 
       
       <% if @available_tags.empty? %> No keywords known
       
       <% else %>
          <% @available_tags.each do |tag| %>
	      <ul>
		<%= check_box_tag 'keywords_to_append[]', tag.keyword -%>
		<%= tag.keyword -%>
	      </ul>
	      <% end %> 
       <% end %>

     </div>
     
<% end %>


</body>
