<!DOCTYPE html>
<html>

<head>
<style>
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

</style>
</head>


<body>

<h1><center> Edit photo <%= @photo.name%> </center></h1>
<%= link_to 'Back to Home', welcome_index_path %>
<br><br>

  <div class="edit">
 
     <div class="column-center">
        Tagged with:
       <br><br>
      
         <% if !@photo.keywords.any? %>  No tags
         <% else %> 
	   <%= form_for @photo, url: admin_collection_photo_path(@photo), method: :patch  do |f| %> 
              <% @photo.keywords.each do |tag| %>
	         
	         <li>
		 <%= tag.name %>
		 (
		 <%= check_box_tag 'delete_tags_ids[]', tag.id -%>
		 ) 
		 </li>  
		 <br>
              <% end %>
	   <%= f.submit "Delete selected tags" %>
         <% end %>
       <% end %>
   
     </div>
   
     <div class="column-left">
       
       <img src="/sample/<%=@photo.name%>", WIDTH=50%, HEIGHT=50%>
       <br><br>
       <%= form_for @photo, url: admin_collection_photo_path(@photo), method: :patch  do |f| %> 
        <%= f.label :name  %>
        <%= f.text_field :name %>
	<br>
	<%= f.submit "Change name" %>
       <% end %>
     </div>
   
     <div class="column-right">
       Add tags from: 
       <br><br>
       <% if @available_tags.empty? %> No keywords known
       
       <% else %>
      
         <%= form_for @photo, url: admin_collection_photo_path(@photo), method: :patch  do |f| %> 
          <% @available_tags.each do |tag| %>
	      <li>
		<%= check_box_tag 'tag_with_ids[]', tag.id -%>
		<%= tag.keyword -%>
	      </li>
	      <% end %>
	      
	      <%= f.submit "Add selected tags" %>
       
          <% end %>  
         
	 <% end %>
     </div>
     
 </div>


</body>
</html>
