<head>
<style>


#index_photos{
              border:2px solid #009900;
              float:left;
              margin-right:10px;
              top: 20px;
              height:600px;
              overflow-y:scroll;
              clear:left
}
#filter_by{
           border: 2px solid #0000FF;
           width:30%;
           height:600px;
           float:right;
           overflow-y:scroll;
}
#submit_edit_batch{
            border: 2px solid #FF0000; 
            margin-bottom:10px;
            float:left;
            clear:both <!-- clear filter_by on the right !-->
}

</style>
</head>

<body>


  <h1>Archivo de Fotos</h1>
  
  <%= link_to 'Vueta a Admin', admin_root_path %>
  <br><br>
  
  
    
     <%= form_tag({controller: "collection_photos", action: "edit_batch"}, method: "GET") do %>

       <div id="submit_edit_batch">
        <%= submit_tag "Editar fotos seleccionadas (o todas)" %>
       </div>
       
      <div id="index_photos">
      
        <table>
	
	  <% @photos.each do |photo| %>
	
	   <tr>
	     <td><img src="/sample/<%=photo.name%>", WIDTH=200, HEIGHT=200> </td>
	     <td><%=photo.name%></td>
	     <td></td><td></td>
	     <td><%= link_to 'Mostrar', admin_collection_photo_path(photo) %></td>
       	     <td><%= link_to 'Editar', edit_admin_collection_photo_path(photo)%></td>
	     <td><%= link_to 'Destruir', admin_collection_photo_path(photo),
		  method: :delete,
		  data: { confirm: 'Are you sure?' } %></td>
	  
	     <td>Keywords:
	     <% if !photo.keywords.any?%> 
	       ninguno
	    
	     <% else %>
	      
	        <% photo.keywords.each do |keyword| %>
	      
	           <%= keyword.name %>
		
	        <% end %>
	    
             <% end %>
	     </td>
	   </tr>
	   
	  <tr>
	   <td> <%= check_box_tag 'photos_to_tag_ids[]', photo.id %>  Seleccionar para batch-edit</td>
	   <%= hidden_field_tag 'filtered_index_ids[]', photo.id  %>
	  </tr>
	  
	  <% end %>
	
      </table>
      
    </div>
     
   <% end %>

    <div id="filter_by">
      <h4>Mostrando filtradas por keywords:</h4>
      <%= form_tag(admin_collection_photos_path, method: "GET") do %>
      
         <% @all_collection_tags.each do |tag| %>
	   <ul>
	     <%= check_box_tag 'filter_by_keywords[]', tag.keyword, @filter.include?(tag.keyword)%>
	    <%= tag.keyword %>
	  </ul> 
	   <% end %>
       
	   <%= submit_tag "filtrar (any)" %>
      
	   <% end %>
      
    </div>

</body>
