<head>
<style>
.column-left{ float: left; width: 60%; }
.column-right{ float: right; width: 40%; }
</style>
</head>

<body>
  <h1>Archivo de Fotos</h1>
  
  <%= link_to 'Vueta a Admin', admin_root_path %>
  <br>
  
  <div class="wrapper">
    
    <div class="column-left">
      
      <table>
	
	<% @photos.each do |photo| %>
	
	<tr>
	  <td><img src="/sample/<%=photo.name%>", WIDTH=200, HEIGHT=200> </td>
	  <td><%=photo.name%></td>
	  <td></td><td></td>
	  <td><%= link_to 'Mostrar', admin_collection_photo_path(photo) %></td>
	  <td><%= link_to 'Editar', edit_admin_collection_photo_path(photo)%></td>
	  <td><%= link_to 'Destruir', admin_collection_photo_path(photo),
		  method: :delete,
		  data: { confirm: 'Are you sure?' } %></td>
	  
	  <td>Keywords:
	    <% if !photo.keywords.any?%> 
	       ninguno
	    
	    <% else %>
	      
	      <% photo.keywords.each do |keyword| %>
	      
	        <%= keyword.name %>
		
	      <% end %>
	    <% end %>
	  </td>
	
	
	  
	
	</tr>
	
	<% end %>
	
      </table>
      
    </div>
    
    <div class="column-right">
      
      <%= form_tag(admin_collection_photos_path, method: "GET") do %>
      
         <% @all_tags.each do |tag| %>
	   <%= check_box_tag 'filter_by_tags_ids[]', tag.id, @ftags.include?(tag.id)%>
	    <%= tag.keyword %>
	    <br>
	   
	   <% end %>
       
	   <%= submit_tag "filtrar por keywords (match all)" %>
      
	   <% end %>
      
    </div>
    
  </div>

</body>
