<body>
<%= link_to 'Vuelta a Admin', admin_root_path %>
<h1><center> Indice the Keywords </center></h1>
<br><br>

<div style="width: 100%;overflow:auto;">
    
  <div align="left" style="float:left; width: 80%">
     <%= form_for :collection_tag, url: admin_collection_tags_path do |f| %>
  <p>
    <%= f.label :new_keyword %><br>
    <%= f.text_field :keyword %>
  </p>
 
  <p>
    <%= f.submit "Crear keyword" %>
  </p>
<% end %>
      
    </div>
    <div align="right" style="float:right;">
      
      <h2> Keywords existentes: </h2>
      <br>
      <% if @current_keywords.empty? %> Ninguno
      <% else %>
        <% @current_keywords.each do |tag| %>
          <%=tag.keyword %> 
          <br>
        <% end %>
      <% end %>
    
</div>
    
</body>

