<head>
<style>

#new_keyword{
      float: right;
      width:33%;     
}
#list_keywords{
                 border: 2px solid #0000FF;
                 width:50%;
                 float:left;
                 overflow: auto;
                 left: 2px;
}

</style>
</head>

<body>
<%= link_to 'Vuelta a Admin', admin_root_path %>
<h1><center> Indice de keywords </center></h1>
<br><br>

<div id="new_keyword">
    
  
     <%= form_for :collection_tag, url: admin_collection_tags_path do |f| %>
  <p>
    <%= f.label :new_keyword %><br>
    <%= f.text_field :keyword %>
  </p>
 
  <p>
    <%= f.submit "Crear keyword" %>
  </p>
<% end %>
      
</div>
    

<div id="list_keywords">
      
      <h2> Keywords existentes </h2>
  
      <% if @current_keywords.empty? %> Ninguno
      <% else %>
       <ul>
        <% @current_keywords.each do |tag| %>
         <li>    
	    <%=tag.keyword %>
	    <%= link_to 'Renombrar', edit_admin_collection_tag_path(tag) %>
	    <%= link_to 'Destruir', admin_collection_tag_path(tag),
                                   method: :delete,
                                   data: { confirm: 'Estas seguro?' } %> 
          </li>
         <% end %>
      </ul>
      <% end %>
    
</div>
    
</body>

