<!DOCTYPE html>
<html>

<head>
<style>
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

</style>
</head>


<body>

<h1><center> Edit: <%= @view.name%> </center></h1>
<%= link_to 'Index of Views', collection_views_path %>
<br><br>

<%= form_for @view, url: collection_view_path(@view), method: :patch  do |f| %>
  <div class="edit">
 
     <div class="column-center">
        Tags in this route:
       <br><br>
      
         <% if @tags.empty? %>  No associated tags
         <% else %> 
	   
              <% @tags.each do |tag| %>
	         <li>
		 <%= tag.keyword %>
		 (delete?
		 <%= check_box_tag 'delete_tags_ids[]', tag.id -%>
		 ) 
		 </li>  
		 <br>
              <% end %>
	  
       <% end %>
   
     </div>
   
     <div class="column-left">
        
        
       <%= f.label :name  %>
        <%= f.text_field :name %>
	<br><br>
	
	<%= f.label :view_type  %>
        <%= f.text_field :view_type %>
	<br>
	<% @TYPES.each do |type| %>
	  <%= radio_button_tag 'view_type', type %>
	  <%=type %>
	  <br>
	<% end %>
	
	<br>
	
       
     </div>
   
     <div class="column-right">
       Add tags from: 
       <br><br>
       <% if @available_tags.empty? %> No keywords known
       
       <% else %>
      
          
          <% @available_tags.each do |tag| %>
	      <li>
		<%= check_box_tag 'add_tags_ids[]', tag.id -%>
		<%= tag.keyword -%>
	      </li>
	      <% end %> 
         
	 <% end %>
     </div>
     
 </div>
<div class="submit">
<%= f.submit "Edit view"%>
</div>
<% end %>

</body>
</html>
