<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#main {
    width:350px;
    float:left;
    text-align:center;
    padding:320px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>Bienvenido a un SoloOjo  --- El fascinante mundo de Kike</h1>
</div>

<div id="nav">
 <h3> Useful links </h3>

<br>---<br>
Photos
<br>---<br>
<%= link_to 'All Photos', controller: 'collection_photos' %>
<br>
<%= link_to 'New Photo', new_collection_photo_path %>

<br>---<br>
Tags
<br>---<br>
<%= link_to 'All Tags', collection_tags_path %>

<br>---<br>
Views
<br>---<br>
<%= link_to 'All Views', collection_views_path %>
<br>
<%= link_to 'New View', new_collection_view_path %>

</div>

<div id="main">

</div>
<div>
<%= link_to 'All Photos Route', slideshow_collection_photos_path %>
</div>

<div id="footer">
This is a footer
</div>
</body>
</html>
