<!DOCTYPE html>
<html>
<body>

<h1><center> Edit photo <%= @photo.name%> </center></h1>
<%= link_to 'Back to Home', welcome_index_path %>

<br><br>

<div style="width: 100%;overflow:auto;">
    <div align="rigth" style="float:left; width: 80%">
      <img src="/sample/<%=@photo.name%>", WIDTH=20%, HEIGHT=20%>
      
      <h2> Tags: </h2>
      
      <% if !@photo.keywords.any? %>  No tags
      <% else %> 
        <% @photo.keywords.each do |tag| %>
           <%= tag.name %> 
	   <br>
        <% end %>
      <% end  %>
      
    </div>
    <div align="left" style="float:right;">
      
      <h2>Select tags from: </h2>
      <br>
      <% if @available_tags.empty? %> No keywords known
      
      <% else %>   

         <%= form_for @photo, url: collection_photo_path(@photo), method: :patch  do |f| %>

      <p>
	  <%= f.label :name %><br>
	  <%= f.text_field :name %>
	  
	  <% @available_tags.each do |tag| %>
	  <li>
	    <%= check_box_tag 'tag_with[]', tag.id -%>
	    <%= h tag.keyword -%>
	  </li>
	  <% end %>
      </p>
      
      <p>
	<%= f.submit %>
      </p>
      <% end %>
      
      <!--
	  <% @available_tags.each do |tag| %>
      <li>
        <%= check_box_tag 'tag_with[]', tag.id -%>
        <%= h tag.keyword -%>
      </li>
      <% end %>
      !-->
      <% end %>
    </div>
    
</body>
</html>
